:root {
  line-height: 1.5;
  --primary: #5fcfd5;
  --complementary-to-primary: #cf5f77; /* A soft red-pink */
  --secondary: #5ed1d6;
  --complementary-to-secondary: #d65e7a; /* A variation of red-pink */
  --doncella-grey: #505961;
  --complementary-to-grey: #9f5059; /* A warm reddish-grey */
  --dream-clean-green: #02afab;
  --complementary-to-green: #af024f; /* A deep magenta */
  --light: #f3f3f3;
  --font-body: "OpenSans", "sans-serif";
  --red-border: 2px solid red;
}

/* CSS RESET MODERN-NORMALIZE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* --------------------------------- FONTS DONCELLA --------------------------------- */
@font-face {
  font-family: SourceSansPro-Regular;
  src: url("../../fonts/SourceSansPro/SourceSansPro-Regular.woff")
    format("woff");
}

@font-face {
  font-family: SourceSansPro-Semibold;
  src: url("../../fonts/SourceSansPro/SourceSansPro-Semibold.woff")
    format("woff");
}

@font-face {
  font-family: SourceSansPro-Bold;
  src: url("../../fonts/SourceSansPro/SourceSansPro-Semibold.woff")
    format("woff");
}

@font-face {
  font-family: SourceSansPro-Light;
  src: url("../../fonts/SourceSansPro/SourceSansPro-Light.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/OpenSans/OpenSans-Light.eot");
  src: url("../../fonts/OpenSans/OpenSans-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/OpenSans/OpenSans-Light.woff") format("woff"),
    url("../../fonts/OpenSans/OpenSans-Light.ttf") format("truetype"),
    url("../../fonts/OpenSans/OpenSans-Light.svg#OpenSans-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/OpenSans/OpenSans-Regular.eot");
  src: url("../../fonts/OpenSans/OpenSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/OpenSans/OpenSans-Regular.woff") format("woff"),
    url("../../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype"),
    url("../../fonts/OpenSans/OpenSans-Regular.svg#OpenSans-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans"; /* Keep the font-family name the same */
  src: url("../../fonts/OpenSans/OpenSans-Semibold.eot");
  src: url("../../fonts/OpenSans/OpenSans-Semibold.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/OpenSans/OpenSans-Semibold.woff") format("woff"),
    url("../../fonts/OpenSans/OpenSans-Semibold.ttf") format("truetype"),
    url("../../fonts/OpenSans/OpenSans-Semibold.svg#OpenSans-Semibold")
      format("svg");
  font-weight: 600; /* Set font-weight for Semi-Bold */
  font-style: normal;
}

@font-face {
  font-family: "Santiago";
  src: url("../../fonts/Santiago/Santiago.eot");
  src: url("../../fonts/Santiago/Santiago.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/Santiago/Santiago.woff") format("woff"),
    url("../../fonts/Santiago/Santiago.ttf") format("truetype"),
    url("../../fonts/Santiago/Santiago.svg#Santiago") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* --------------------------------- END FONTS DONCELLA --------------------------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 297px;
  height: 400px;
  margin: 400px auto;
  letter-spacing: 0;
  line-height: 24px;
}

.modal-content p {
  font-family: "OpenSansRoman-CondensedSemiBold";
  font-weight: 500; /* Apply the Semi-Bold weight */
  font-size: 24px;
  color: #33bbc6;
  letter-spacing: 0;
  line-height: 24px;
  padding-top: 80px;
}

#modal-text-form-button {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  width: 233px;
  gap: 20px;
}

.modal-flow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#another-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 297px;
  height: 51px;
  background-color: #33bbc6;
}

/* The Close Button */
.close {
  font-family: "OpenSansRoman-CondensedSemiBold";
  position: absolute;
  top: 10px;
  right: 20px;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
  line-height: 32px;
}

.input-wrapper label {
  /* font-family: "OpenSans", sans-serif; */
  font-size: 14px;
  color: #788995;
  font-family: "OpenSansRoman-CondensedSemiBold";
  font-size: 14px;
  color: #788995;
}

.input-wrapper input {
  background: #ffffff;
  border: 1px solid #dde3e8;
  border-radius: 3px;
  width: 233px;
  height: 46px;
}

.modal-content #continue {
  width: 120px;
  height: 42px;
  background-color: #33bbc6;
  border: none;
  color: #ffffff;
  font-family: OpenSans-Regular;
  font-size: 12px;
}

#signinForm {
  /* border: 2px solid red; */
  gap: 20px;
}

#signinForm,
.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper {
}

.x-container {
  border: 2px solid red;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.back-arrow {
  display: flex; /* Aligns the icon and text inline */
  align-items: center; /* Centers items vertically */
  cursor: pointer; /* Changes the cursor to a pointer to indicate it's clickable */
  background: none; /* Removes any default background */
  border: none; /* Removes any default border */
  font: inherit; /* Inherits font from parent elements */
  padding: 10px; /* Add padding as necessary */
  color: #788995;
  font-family: OpenSans-Regular;
  font-size: 12px;
}

.arrow-icon {
  margin-right: 5px; /* Creates a small space between the icon and the text */
}

/* ---------------------------------Header Styles --------------------------------- */

h1 {
  width: 1440px;
  height: 100px;
}

.game-header {
  background-color: #ffffff;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  @media screen and (max-width: 950px) {
    overflow-x: hidden;
  }
}
.gray-top {
  width: 100%;
  height: 40px;
  background-color: #707174;
}
.game-header h1 {
  margin: 50px;
  font-family: "Open Sans", sans-serif; /* This should match your branding font */
  font-size: 2em; /* Adjust the size as needed */
  text-transform: uppercase; /* Optional: Makes all the letters uppercase */
  letter-spacing: 2px; /* Optional: Increases spacing between letters */
  height: 100px;

  @media screen and (max-width: 950px) {
    margin: 0 auto;
  }
}

#image-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#image-group img {
  margin: 10px; /* Adjust this value as needed */
  width: 196px;

  @media screen and (max-width: 950px) {
    width: 146px;
    height: 86px;
  }
}

/* ---------------------------------Game --------------------------------- */

body {
  /* min-height: 100vh; */
  background: rgba(95, 207, 213, 0.09);
}

.game-wrapper {
  max-width: 580px;
  margin: 0 auto 120px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 950px) {
    max-width: 308px;
    margin: 0 auto 40px;
  }
}

.game-status-bar {
  background-color: #ffffff;
  display: flex;
  border: 1px solid #dde3e8;
  width: 514px;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  font-family: Helvetica;
  font-size: 18px;
  color: #9a9a9a;
  text-align: left;
  height: 37px;
  margin: 20px 0;

  @media screen and (max-width: 950px) {
    width: 308px;
    height: 37px;
    margin: 20px auto;
    padding: 0 10px;
  }
}

#timer {
  display: flex;
  align-items: center;

  justify-content: end;
  gap: 5px;
  width: 400px;

  @media screen and (max-width: 950px) {
    width: 200px;
  }
}

#score {
  display: flex;
  font-family: Helvetica;
  font-size: 18px;
  color: #9a9a9a;
  text-align: left;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 514px;
  margin: 0 auto;
  gap: 5px;

  @media screen and (max-width: 950px) {
    width: 308px;
    height: 411px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    gap: 2px;
  }
}

.bottom-buttons {
  display: flex;
  width: 514px;
  justify-content: center;
  gap: 130px;
  margin-bottom: 0;
  @media screen and (max-width: 950px) {
    width: 308px;
    gap: 50px;
  }
}

.bottom-buttons button {
  background-color: rgba(0, 170, 184, 0.8);
  border-radius: 2px;
  font-family: "OpenSansRoman-CondensedSemiBold";
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  line-height: 16px;
  width: 140px;
  height: 42px;
  border: none;
}

.reset,
.next-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
}

h3 {
  color: var(--light);
  font-size: 40px;
}

h2 {
  text-align: center;
  font-family: "Open Sans", sans-serif; /* Keep the font consistent with h1 */
  font-size: 3rem; /* Smaller size than h1 for visual hierarchy */
  color: var(--secondary); /* Use the secondary color for contrast */
  text-transform: uppercase; /* Maintain uppercase letters */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15); /* Slightly softer text shadow */
  margin: 20px auto; /* Balanced space around h2 */
  padding: 10px 0; /* Less padding than h1 for a less dominant appearance */
}

/* .card {
  width: 180px;
  height: 180px;
} */

.created-card {
  width: 126px;
  height: 125px;

  @media screen and (max-width: 950px) {
    width: 101px;
    height: 100px;
  }
}

.card__inner {
  width: 100%;
  height: 100%;
  transition: transform 1.2s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card__inner.is-flipped {
  /* is-flipped will be applied from JS */
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--front {
  background-color: #5fc6cc;
  color: #5fc6cc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__face--back {
  background-color: #5fc6cc;
  transform: rotateY(180deg);
}

.card__face--front img {
  width: 100%;
  height: 100%;
}

.card__content {
  width: 100%;
  height: 100%;
}

.card__header {
  width: 100%;
  height: 100%;
}

.card__header::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: linear-gradient(
    to bottom left,
    var(--primary) 10%,
    var(--secondary) 115%
  );
}

.pp {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto 30px;
  object-fit: cover;
}

.card__body {
  padding: 10px 30px 5px;
  text-align: center;
  color: var(--light);
  font-weight: 100;
  font-size: small;
}

/* <------------------------------------------ FOOTER ------------------------------------------> */

.footer-banner {
  background-color: #00adb5;
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.footer-content {
  display: block;
  width: 100%;
  padding: 2% 6%;
  padding-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.footer-list {
  color: #00adbb;
  display: flex;
  list-style: none;
  flex-wrap: nowrap;
  justify-content: space-between;
  /* font-size: 14px; */
  font-size: clamp();
  padding-top: 2%;
  font-family: "Lato-Regular";
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0.02px;
}

.footer-list .links {
  color: var(--doncella-white-color);
  display: flex;
  align-items: flex-end;
  /* margin-left: 100px; */
  white-space: nowrap;
  /* flex-wrap: nowrap; */
  /* gap: 2.5rem; */
  font-family: "Lato-Regular";
  /* font-size: 14px; */
  font-size: clamp(12px, 2vw, 13px);
}

.footer-list a {
  color: #ffffff;
  padding: 0 10px;
}

.footer-social-media {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding-top: 2%;
  width: 100%;
}

.hidden-copyright {
  display: none;
}

@media screen and (width <= 950px) {
  .footer-content {
    min-width: 800px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .footer-list .links {
    font-size: 12px;
  }
}

/* For larger screens, only the large logo is visible */
.footer-list #footer-logo-large {
  display: block; /* Show the large logo */
}

/* HIDE secondary LOGO LARGE SCREEN  */
.footer-list #footer-logo {
  display: none;
}

@media screen and (max-width: 950px) {
  body,
  html {
    overflow-x: hidden;
  }

  /* Show the mobile logo */
  .footer-list #footer-logo {
    display: block;
  }

  .footer-list #footer-logo-large {
    display: none;
  }
  .footer-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .mobile-bottom {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
  }

  .hidden-copyright {
    display: flex;
  }
  .footer-list .links {
    display: none;
  }
}
