/* ---------------------------------Header Styles --------------------------------- */

* {
  margin: 0;
  padding: 0;
}
.game-header {
  background-color: #ffffff;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.gray-top {
  width: 100%;
  height: 40px;
  background-color: #707174;
}
.game-header h1 {
  margin: 50px;
  padding: 10px;
  font-family: "Open Sans", sans-serif; /* This should match your branding font */
  font-size: 2em; /* Adjust the size as needed */
  text-transform: uppercase; /* Optional: Makes all the letters uppercase */
  letter-spacing: 2px; /* Optional: Increases spacing between letters */
  height: 100px;
}

#image-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* margin: 10px; */
}

#image-group img {
  margin: 10px; /* Adjust this value as needed */
  width: 196px;
}

/* ---------------------------------Congratulations Msg Styles --------------------------------- */

.body-top {
  display: flex;
  flex-direction: column;
}
.results-container-board {
  display: flex;
  flex-direction: column;
}

body {
  background-color: rgba(95, 207, 213, 0.09);
}

.container-overlay {
  position: relative;
}

#result-final {
  z-index: 1;
  width: 324px; /* Set the width of the box */
  height: 46px; /* Set the height of the box */
  margin: auto; /* Center the box */
  display: flex; /* Use flexbox to align the content */
  align-items: center; /* Center the content horizontally */
  justify-content: center; /* Center the content vertically */
  border: 1px solid #dde3e8;
  border-radius: 3px;
  font-family: Helvetica;
  font-size: 18px;
  color: #9a9a9a;
  background-color: white;
  text-align: left;
}

#message-container {
  position: absolute;
  z-index: -1;
  top: 25px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 503px; /* Set the width of the box */
  height: 183px; /* Set the height of the box */
  padding: 10px; /* Optional: Add some padding inside the box */
  display: flex; /* Use flexbox to align the content */
  align-items: center; /* Center the content horizontally */
  justify-content: center; /* Center the content vertically */
  background-color: #91d8dc;
  margin-left: auto;
  margin-right: auto;
}

.congrats-text {
  width: 325px;
  height: 92px;
}
#congratulations-heading {
  font-family: "GothamBlack";
  font-size: 18px; /* Adjust the size as needed */
  color: white; /* Set the color of the text */
  text-align: center; /* Center the text */
  margin-bottom: 10px; /* Optional: Add some space below the text */
}

#message-text {
  font-family: "GothamBlack";
  font-size: 18px; /* Adjust the size as needed */
  color: white; /* Set the color of the text */
  text-align: center; /* Center the text */
}

/* ---------------------------------Button Styles --------------------------------- */
.bottom-buttons {
  display: flex;
  width: 400px;
  justify-content: space-between;
  margin: 250px auto 20px;
}

.bottom-buttons button {
  background-color: rgba(0, 170, 184, 0.8);
  border-radius: 2px;
  font-family: "OpenSansRoman-CondensedSemiBold";
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  line-height: 16px;
  width: 140px;
  height: 42px;
  border: none;
  cursor: pointer; /* Indicate that the button is clickable */
}

.bottom-buttons button:hover {
  background-color: rgba(140, 209, 215, 0.939); /* Darker green on hover */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a slight shadow */
}

.reset,
.next-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-icon {
  margin-right: 5px;
}

/* ---------------------------------Leaderboard Styles --------------------------------- */
table {
  width: 503px;
}

/* Add the caption element */
table caption,
.gray-border-bottom {
  font-family: Helvetica-Bold;
  font-size: 18px;
  color: #9a9a9a;
  text-align: left;
  padding: 10px 0;
  width: 80%;
  padding: 5px;
  border-bottom: 3px solid #ddd;
  margin: 10px auto;
}

tr td {
  font-family: Helvetica-Bold;
  font-size: 18px;
  color: #9a9a9a;
  text-align: left;
  padding: 10px 0;
}

#total-time {
  color: #3ac3cd;
}

.scoreboard-white-container {
  width: 503px;
  height: auto;
  margin: 0 auto;
  padding: 0;
  background-color: white;
  margin-bottom: 20px;
}

#leaderboard-body img,
#current-player-body img {
  vertical-align: middle;
  margin-right: 20px;
}

#current-player-table {
  width: 503px;
  border-collapse: collapse;
  background-color: white;
  margin: 0 auto;
}

#current-player-table tr td {
  font-family: Helvetica-Bold;
  font-size: 18px;
  color: #9a9a9a;
  text-align: left;
  padding: 10px 0;
}

#current-player-table img {
  vertical-align: middle;
  margin-right: 20px;
}
