:root {
  --primary-color: #02afab;
  --text-color: #333;
  --background-color: #f3f3f3;
  --font-body: "Open Sans", sans-serif;
}


* {
  padding: 10px;
  margin: 0;
}
#title-container {
  text-align: center;
}

#startForm {
  display: flex;
  padding: 15px;
  gap: 10px;
}