* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgba(99, 205, 218, 1);
}

h2 {
  color: rgba(89, 98, 117, 1);
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  /* letter-spacing: 0.1em; */
}

.container {

  /* text-align: center; */
  min-width: 600px; /* Adjust the max-width as needed */
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reset {
  padding: 10px;
  background-color: #f8f6e3;
  border: 0.2px solid rgba(89, 98, 117, 1);
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 1.5em;
  cursor: pointer;
}

.reset:focus {
  color: #f8f6e3;
  background-color: rgba(89, 98, 117, 1);
}

.game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  /* border: 1px solid red; */
  margin: 50px auto;
  max-width: 50%;
  transform-style: preserve-3d;
  perspective: 500px;
}

.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(25% - 10px); /* Adjust width for 4 items per row, accounting for the gap */
  margin-bottom: 10px; /* Spacing for when wrapping occurs */
  transition: 0.25s;
  border: 1px solid red;
}

.item img {
  width: 100px;
  height: auto;
  border: 2px solid #ddd; /* Give the images a border, if you like */
  border-radius: 10px; /* Optional: if you want rounded corners */
}
  
